.button {
  display: inline-block;
  padding: 18px 27px;
  cursor: pointer;
  outline: none;
  border-radius: 9px;
  text-align: center;
  color: white;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#53a6f3), to(#53a6f3));
  background: linear-gradient(#53a6f3 0%, #53a6f3 100%);
  border: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  height: 100%;
}

.button,
.button * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button .content {
  z-index: 1;
}

.button .ripple {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.button .ripple.active {
  -webkit-animation: ripple 700ms;
          animation: ripple 700ms;
}

@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(200);
            transform: scale(200);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(200);
            transform: scale(200);
    opacity: 0;
  }
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#53a6f3), to(#53a6f3)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.08)));
  background: linear-gradient(#53a6f3 0%, #53a6f3 100%), linear-gradient(rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
  background-blend-mode: multiply;
}

.button.fluid {
  width: 100%;
}

.button.disabled {
  cursor: default;
}

.button.text {
  background: #ffffff;
  color: #707579;
}

.button.text:hover {
  background-color: rgba(112, 117, 121, 0.08);
}

.button.icon {
  padding: 18px;
  border-radius: 50%;
  line-height: 0;
}

.button.icon i {
  font-size: 1.5em;
  pointer-events: none;
}

.button.accent {
  color: #53a6f3;
}

.button i[class*='icon-'] {
  font-size: 1.2em;
  vertical-align: text-bottom;
}

.button tg-loading {
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #6d6d71;
  font-size: 1.3em;
}
/*# sourceMappingURL=button.css.map */