@import '../base/vars/colors';

$button-border-radius: 9px;
$button-padding: 27px;
$button-height: 1.5em;

$input-padding: 18px;

.button {
    display: inline-block;
    &,
    * {
        box-sizing: border-box;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    padding: $button-padding * 2/3 $button-padding;
    cursor: pointer;
    outline: none;
    border-radius: $button-border-radius;
    text-align: center;
    color: white;
    font-weight: 500;
    background: linear-gradient($accent 0%, $accent 100%);
    border: none;
    position: relative;
    overflow: hidden;
    transition: background-color 200ms ease;

    height: 100%;
    // line-height: $button-height;

    .content {
        z-index: 1;
    }

    .ripple {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 50%;
        pointer-events: none;
        transform: scale(0);

        &.active {
            animation: ripple 700ms;
        }

        @keyframes ripple {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(200);
                opacity: 0;
            }
        }
    }

    &:hover {
        background: linear-gradient($accent 0%, $accent 100%),
            linear-gradient(rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
        background-blend-mode: multiply;
    }

    &.fluid {
        width: 100%;
    }

    &.disabled {
        cursor: default;
    }

    &.text {
        background: $background;
        color: $grayText;
        &:hover {
            background-color: rgba(112, 117, 121, 0.08);
        }
    }

    &.icon {
        padding: $button-padding * 2/3;
        border-radius: 50%;
        line-height: 0;

        i {
            font-size: 1.5em;
            pointer-events: none;
        }
    }

    &.accent {
        color: $accentIcon;
    }

    i[class*='icon-'] {
        font-size: 1.2em;
        vertical-align: text-bottom;
    }

    tg-loading {
        position: absolute;
        right: 2/3 * $input-padding + 1px;
        top: 50%;
        transform: translateY(-50%);
        color: $listGrayText;
        font-size: 1.3em;
    }
}
