@import '../../components/base/vars/colors';

.chat-close {
    text-align: center;

    .chat-close-icon-header {
        font-size: 9.5em;
        display: block;
        color: $grayIcon;
    }

    .chat-close-icon-wrapper {
        .chat-close-icon {
            display: inline-block;

            button {
                display: block;
                font-size: 2.7em;

                &:hover {
                    background: $accentIcon;
                    color: $grayUI;

                    ~ .chat-close-text {
                        color: $accentIcon;
                    }
                }
            }
        }
    }
}
