.container > .row,
.container > .row > .column {
  height: 100%;
}

#dialogs {
  max-height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid rgba(112, 117, 121, 0.2);
}

#chat {
  background-color: #e6ebee;
  position: relative;
  border-right: 1px solid rgba(112, 117, 121, 0.2);
}

.first-name {
  margin-right: 3px;
}

.username {
  font-size: 0.8em;
  color: #888;
}

.chat-preview {
  overflow: hidden;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 2 * 6px);
  padding: 6px;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  border-radius: 12px;
  margin: 3px 6px;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.chat-preview:hover, .chat-preview.active {
  background-color: rgba(112, 117, 121, 0.2);
}

.chat-preview .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat-preview .unread-count {
  overflow: hidden;
  min-width: 25px;
  height: 25px;
  padding: 3px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #63da6e;
  color: #fff;
}

.ripple {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.ripple.active {
  -webkit-animation: ripple 700ms;
          animation: ripple 700ms;
}

@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(200);
            transform: scale(200);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(200);
            transform: scale(200);
    opacity: 0;
  }
}
/*# sourceMappingURL=chatList.css.map */