.chat-close {
  text-align: center;
}

.chat-close .chat-close-icon-header {
  font-size: 9.5em;
  display: block;
  color: #9e9e9e;
}

.chat-close .chat-close-icon-wrapper .chat-close-icon {
  display: inline-block;
}

.chat-close .chat-close-icon-wrapper .chat-close-icon button {
  display: block;
  font-size: 2.7em;
}

.chat-close .chat-close-icon-wrapper .chat-close-icon button:hover {
  background: #53a6f3;
  color: #fafafa;
}

.chat-close .chat-close-icon-wrapper .chat-close-icon button:hover ~ .chat-close-text {
  color: #53a6f3;
}
/*# sourceMappingURL=chatClosed.css.map */