@import '../../components/base/vars/colors';

$unread-size: 25px;

.container > .row,
.container > .row > .column {
    height: 100%;
}

#dialogs {
    max-height: 100%;
    overflow-y: auto;
    background-color: $background;
    border: 1px solid $grayTransparent;
}

#chat {
    background-color: $chatBackground;
    position: relative;
    border-right: 1px solid $grayTransparent;
}

.first-name {
    margin-right: 3px;
}

.username {
    font-size: 0.8em;
    color: #888;
}

$chat-preview-side-margin: 6px;

.chat-preview {
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    width: calc(100% - 2 * #{$chat-preview-side-margin});
    padding: 6px;
    transition: background 200ms ease-in-out;
    border-radius: 12px;
    margin: 3px $chat-preview-side-margin;
    cursor: pointer;

    flex-shrink: 0;

    &:hover,
    &.active {
        background-color: $grayTransparent;
    }

    .info {
        flex-grow: 1;
    }

    .unread-count {
        overflow: hidden;
        min-width: $unread-size;
        height: $unread-size;
        padding: 3px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: $greenUI;
        color: #fff;
    }
}

.ripple {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);

    &.active {
        animation: ripple 700ms;
    }

    @keyframes ripple {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(200);
            opacity: 0;
        }
    }
}
