@import '../base/vars/colors';

@keyframes tg-loading-rolling {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tg-loading-rolling {
    margin: auto;

    div {
        display: inline-block;
        min-width: 5px;
        min-height: 5px;
        border-style: solid;
        border-radius: 50%;

        animation: tg-loading-rolling 0.9s linear infinite;

        // default
        // &.little {
        width: 24px;
        height: 24px;
        border-width: 2px;
        // }

        &.big {
            width: 51px;
            height: 51px;
            border-width: 4px;
        }

        // default
        // &.accent {
        border-color: $accentIcon;
        border-top-color: transparent;
        // }

        &.black {
            border-color: black;

            border-top-color: transparent;
        }

        &.white {
            border-color: white;
            // background: black;
            border-top-color: transparent;
        }
    }
}
