@-webkit-keyframes tg-loading-rolling {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes tg-loading-rolling {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.tg-loading-rolling {
  margin: auto;
}

.tg-loading-rolling div {
  display: inline-block;
  min-width: 5px;
  min-height: 5px;
  border-style: solid;
  border-radius: 50%;
  -webkit-animation: tg-loading-rolling 0.9s linear infinite;
          animation: tg-loading-rolling 0.9s linear infinite;
  width: 24px;
  height: 24px;
  border-width: 2px;
  border-color: #53a6f3;
  border-top-color: transparent;
}

.tg-loading-rolling div.big {
  width: 51px;
  height: 51px;
  border-width: 4px;
}

.tg-loading-rolling div.black {
  border-color: black;
  border-top-color: transparent;
}

.tg-loading-rolling div.white {
  border-color: white;
  border-top-color: transparent;
}
/*# sourceMappingURL=loading.css.map */