$basicAccent: #53a6f3;
$background: #ffffff;
$text: #000000;
$grayText: #707579;
$link: #53a6f3;
$accent: #53a6f3;
$redUI: #ff3b30;
$greenUI: #63da6e;
$blackTransparent: rgba(0, 0, 0, 0.6);
$grayTransparent: transparentize($grayText, 0.8);
$grayUI: #fafafa;
$darkGrayText: #333333;
$accentSelect: #4c91c7;
$selectText: #eaeaea;
$border: #eaeaea;
$grayBackground: #f4f4f4;
$grayForeground: #e4e4e4;
$grayIcon: #9e9e9e;
$accentIcon: #53a6f3;
$badgeMuted: #d7d7d7;
$badge: #4ba3e2;
$indicatorColor: #464a57;
$selectMessage: #eaeaea;
$monospacedPre: #000000;
$monospacedCode: #ff3b30;
$monospacedPreBubble-incoming: #ff3b30;
$monospacedPreBubble-outgoing: #ffffff;
$monospacedCodeBubble-incoming: #ff3b30;
$monospacedCodeBubble-outgoing: #ffffff;
$selectTextBubble-incoming: #ccddea;
$selectTextBubble-outgoing: #6da8d6;
$bubbleBackground-incoming: #f4f4f4;
$bubbleBackground-outgoing: #eeffde;
$bubbleBorder-incoming: #eaeaea;
$bubbleBorder-outgoing: #4c91c7;
$grayTextBubble-incoming: #999999;
$grayTextBubble-outgoing: #effaff;
$grayIconBubble-incoming: #999999;
$grayIconBubble-outgoing: rgba(239, 250, 255, 0.8);
$accentIconBubble-incoming: #999999;
$accentIconBubble-outgoing: #4daa4c;
$linkBubble-incoming: #53a6f3;
$linkBubble-outgoing: #ffffff;
$textBubble-incoming: #000000;
$textBubble-outgoing: #ffffff;
$selectMessageBubble: rgba(237, 244, 249, 0.6);
$fileActivityBackground: #4ba3e2;
$fileActivityForeground: #ffffff;
$fileActivityBackgroundBubble-incoming: #4ba3e2;
$fileActivityBackgroundBubble-outgoing: #ffffff;
$fileActivityForegroundBubble-incoming: #ffffff;
$fileActivityForegroundBubble-outgoing: #4c91c7;
$waveformBackground: rgba(158, 158, 158, 0.7);
$waveformForeground: #4ba3e2;
$waveformBackgroundBubble-incoming: #999999;
$waveformBackgroundBubble-outgoing: #ffffff;
$waveformForegroundBubble-incoming: #4ba3e2;
$waveformForegroundBubble-outgoing: #effaff;
$webPreviewActivity: #53a6f3;
$webPreviewActivityBubble-incoming: #53a6f3;
$webPreviewActivityBubble-outgoing: #ffffff;
$redBubble-incoming: #ff3b30;
$redBubble-outgoing: #ff3b30;
$greenBubble-incoming: #63da6e;
$greenBubble-outgoing: #63da6e;
$chatReplyTitle: #53a6f3;
$chatReplyTextEnabled: #000000;
$chatReplyTextDisabled: #999999;
$chatReplyTitleBubble-incoming: #53a6f3;
$chatReplyTitleBubble-outgoing: #ffffff;
$chatReplyTextEnabledBubble-incoming: #000000;
$chatReplyTextEnabledBubble-outgoing: #ffffff;
$chatReplyTextDisabledBubble-incoming: #999999;
$chatReplyTextDisabledBubble-outgoing: rgba(239, 250, 255, 0.8);
$groupPeerNameRed: #fc5c51;
$groupPeerNameOrange: #fa790f;
$groupPeerNameViolet: #895dd5;
$groupPeerNameGreen: #0fb297;
$groupPeerNameCyan: #00c1a6;
$groupPeerNameLightBlue: #3ca5ec;
$groupPeerNameBlue: #3d72ed;
$peerAvatarRedTop: #ff885e;
$peerAvatarRedBottom: #ff516a;
$peerAvatarOrangeTop: #ffcd6a;
$peerAvatarOrangeBottom: #ffa85c;
$peerAvatarVioletTop: #82b1ff;
$peerAvatarVioletBottom: #665fff;
$peerAvatarGreenTop: #a0de7e;
$peerAvatarGreenBottom: #54cb68;
$peerAvatarCyanTop: #53edd6;
$peerAvatarCyanBottom: #28c9b7;
$peerAvatarBlueTop: #72d5fd;
$peerAvatarBlueBottom: #2a9ef1;
$peerAvatarPinkTop: #e0a2f3;
$peerAvatarPinkBottom: #d669ed;
$bubbleBackgroundHighlight-incoming: #eaeaea;
$bubbleBackgroundHighlight-outgoing: #4b7bad;
$chatDateActive: #ffffff;
$chatDateText: #333333;
$revealAction-neutral1-background: #4892f2;
$revealAction-neutral1-foreground: #ffffff;
$revealAction-neutral2-background: #f09a37;
$revealAction-neutral2-foreground: #ffffff;
$revealAction-destructive-background: #ff3824;
$revealAction-destructive-foreground: #ffffff;
$revealAction-constructive-background: #00c900;
$revealAction-constructive-foreground: #ffffff;
$revealAction-accent-background: #53a6f3;
$revealAction-accent-foreground: #ffffff;
$revealAction-warning-background: #ff9500;
$revealAction-warning-foreground: #ffffff;
$revealAction-inactive-background: #bcbcc3;
$revealAction-inactive-foreground: #ffffff;
$chatBackground: #e6ebee;
$listBackground: #efeff3;
$listGrayText: #6d6d71;
$grayHighlight: #f8f8f8;
$focusAnimationColor: #68a8e2;
