$devices: (
    mobile: (
        minWidth: null,
        maxWidth: 600px
    ),
    tablet: (
        minWidth: 601px,
        maxWidth: 900px
    ),
    computer: (
        minWidth: 901px,
        maxWidth: null
    )
);
