$baseFontSize: 1;
$scaleFactor: 1.15;

$deviceFactors: (
    mobile: 1,
    tablet: 1.125,
    computer: 1.25
);

$textComponents: (
    (
        caption: (
            lineHeightFactor: 1.2
        )
    ),
    (
        body2: (
            lineHeightFactor: 1.6
        )
    ),
    (
        body: (
            lineHeightFactor: 1.4
        ),
        h6: (
            lineHeightFactor: 1.333
        ),
        button-content: (
            lineHeightFactor: 1.5
        )
    ),
    (
        h5: (
            lineHeightFactor: 1.333
        )
    ),
    (
        h4: (
            lineHeightFactor: 1.171
        )
    ),
    (
        h3: (
            lineHeightFactor: 1.15
        )
    ),
    (
        h2: (
            lineHeightFactor: 1.1
        )
    ),
    (
        h1: (
            lineHeightFactor: 1.05
        )
    )
);
