/**
 * Variables
 *
 * The majority of the configuration for the toolkit.
 */

@import './vars/device';
@import './vars/colors';
@import './vars/typography';

$padding: 1rem !default;
$margins: 1.5rem !default;
$content-padding: 60px 0 !default;
$content-padding-mobile: 30px 0 !default;
