@import './normalize';

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?w5wgfi');
    src: url('/fonts/icomoon.eot?w5wgfi#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?w5wgfi') format('truetype'), url('fonts/icomoon.woff?w5wgfi') format('woff'),
        url('/fonts/icomoon.svg?w5wgfi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

*:not([class*=' icon-']) {
    font-family: 'Roboto' !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
