html,
body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

a,
a:visited {
  color: unset;
  text-decoration: none;
}

.image-wrapper {
  width: 160px;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column.c1 {
  width: 1%;
}

.column.c2 {
  width: 2%;
}

.column.c3 {
  width: 3%;
}

.column.c4 {
  width: 4%;
}

.column.c5 {
  width: 5%;
}

.column.c6 {
  width: 6%;
}

.column.c7 {
  width: 7%;
}

.column.c8 {
  width: 8%;
}

.column.c9 {
  width: 9%;
}

.column.c10 {
  width: 10%;
}

.column.c11 {
  width: 11%;
}

.column.c12 {
  width: 12%;
}

.column.c13 {
  width: 13%;
}

.column.c14 {
  width: 14%;
}

.column.c15 {
  width: 15%;
}

.column.c16 {
  width: 16%;
}

.column.c17 {
  width: 17%;
}

.column.c18 {
  width: 18%;
}

.column.c19 {
  width: 19%;
}

.column.c20 {
  width: 20%;
}

.column.c21 {
  width: 21%;
}

.column.c22 {
  width: 22%;
}

.column.c23 {
  width: 23%;
}

.column.c24 {
  width: 24%;
}

.column.c25 {
  width: 25%;
}

.column.c26 {
  width: 26%;
}

.column.c27 {
  width: 27%;
}

.column.c28 {
  width: 28%;
}

.column.c29 {
  width: 29%;
}

.column.c30 {
  width: 30%;
}

.column.c31 {
  width: 31%;
}

.column.c32 {
  width: 32%;
}

.column.c33 {
  width: 33%;
}

.column.c34 {
  width: 34%;
}

.column.c35 {
  width: 35%;
}

.column.c36 {
  width: 36%;
}

.column.c37 {
  width: 37%;
}

.column.c38 {
  width: 38%;
}

.column.c39 {
  width: 39%;
}

.column.c40 {
  width: 40%;
}

.column.c41 {
  width: 41%;
}

.column.c42 {
  width: 42%;
}

.column.c43 {
  width: 43%;
}

.column.c44 {
  width: 44%;
}

.column.c45 {
  width: 45%;
}

.column.c46 {
  width: 46%;
}

.column.c47 {
  width: 47%;
}

.column.c48 {
  width: 48%;
}

.column.c49 {
  width: 49%;
}

.column.c50 {
  width: 50%;
}

.column.c51 {
  width: 51%;
}

.column.c52 {
  width: 52%;
}

.column.c53 {
  width: 53%;
}

.column.c54 {
  width: 54%;
}

.column.c55 {
  width: 55%;
}

.column.c56 {
  width: 56%;
}

.column.c57 {
  width: 57%;
}

.column.c58 {
  width: 58%;
}

.column.c59 {
  width: 59%;
}

.column.c60 {
  width: 60%;
}

.column.c61 {
  width: 61%;
}

.column.c62 {
  width: 62%;
}

.column.c63 {
  width: 63%;
}

.column.c64 {
  width: 64%;
}

.column.c65 {
  width: 65%;
}

.column.c66 {
  width: 66%;
}

.column.c67 {
  width: 67%;
}

.column.c68 {
  width: 68%;
}

.column.c69 {
  width: 69%;
}

.column.c70 {
  width: 70%;
}

.column.c71 {
  width: 71%;
}

.column.c72 {
  width: 72%;
}

.column.c73 {
  width: 73%;
}

.column.c74 {
  width: 74%;
}

.column.c75 {
  width: 75%;
}

.column.c76 {
  width: 76%;
}

.column.c77 {
  width: 77%;
}

.column.c78 {
  width: 78%;
}

.column.c79 {
  width: 79%;
}

.column.c80 {
  width: 80%;
}

.column.c81 {
  width: 81%;
}

.column.c82 {
  width: 82%;
}

.column.c83 {
  width: 83%;
}

.column.c84 {
  width: 84%;
}

.column.c85 {
  width: 85%;
}

.column.c86 {
  width: 86%;
}

.column.c87 {
  width: 87%;
}

.column.c88 {
  width: 88%;
}

.column.c89 {
  width: 89%;
}

.column.c90 {
  width: 90%;
}

.column.c91 {
  width: 91%;
}

.column.c92 {
  width: 92%;
}

.column.c93 {
  width: 93%;
}

.column.c94 {
  width: 94%;
}

.column.c95 {
  width: 95%;
}

.column.c96 {
  width: 96%;
}

.column.c97 {
  width: 97%;
}

.column.c98 {
  width: 98%;
}

.column.c99 {
  width: 99%;
}

.column.c100 {
  width: 100%;
}

.column.top-aligned,
.row.left-aligned {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.column.bottom-aligned,
.row.right-aligned {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center-aligned {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  width: 100%;
  display: block;
}

.invisible {
  display: none !important;
}

tg-divider {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */