html,
body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    @media screen and (min-width: 1600px){
        width: 1600px;
    }

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        width: 100%;
    }
}

a,
a:visited {
    color: unset;
    text-decoration: none;
}

.image-wrapper {
    width: 160px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.column {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @for $size from 1 through 100 {
        &.c#{$size} {
            width: $size / 100 * 100%;
        }
    }
}

.column.top-aligned,
.row.left-aligned {
    justify-content: flex-start;
}

.column.bottom-aligned,
.row.right-aligned {
    justify-content: flex-end;
}

.center-aligned {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

img {
    width: 100%;
    display: block;
}

.invisible {
    display: none !important;
}

tg-divider {
    width: 100%;
}