@import '../../components/base/vars/colors';

#chat-container {
    margin: 6px auto;
    margin-top: 0;
    max-width: 796px;
    width: 85%;
    overflow-y: auto;

    max-height: 100%;

    padding: 0 48px;
}

.bubble-group {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;

    .profile-picture {
        padding: 0;
        width: 33px;
        height: 33px;
        border-radius: 33px;
        position: absolute;
        bottom: 0;
        left: -33px;
        margin-left: -6px;
        margin-bottom: 6px;
    }

    .bubble {
        min-width: 18px;
        max-width: 450px;
        min-height: 27px;

        padding-top: 9px;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 9px;

        margin-top: 6px;
        margin-bottom: 6px;
        box-shadow: 0px 1px 2px 0px rgba(16, 35, 47, 0.15);

        .info {
            float: right;

            .typography {
                font-size: 0.7em;
            }
        }
    }

    &.self {
        padding-right: 11px;

        .bubble {
            background-color: $bubbleBackground-outgoing;
            color: $grayTextBubble-outgoing;
            align-self: flex-end;

            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;

            .message.typography::after {
                content: '        ';
            }

            .info * {
                color: $accentIconBubble-outgoing;
            }

            &:first-of-type {
                border-top-right-radius: 12px;
            }

            &:last-of-type {
                border-bottom-right-radius: 0px;
            }

            &:not(:first-of-type) {
                border-top-right-radius: 6px;
            }

            &:not(:last-of-type) {
                border-bottom-right-radius: 6px;
            }
        }
    }

    &:not(.self) {
        padding-left: 11px;

        .bubble {
            background-color: $bubbleBackground-incoming;
            color: $grayTextBubble-incoming;
            align-self: flex-start;

            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;

            .message.typography::after {
                content: '     ';
            }

            .info * {
                color: $accentIconBubble-incoming;
            }

            &:first-of-type {
                border-top-left-radius: 12px;
            }

            &:last-of-type {
                border-bottom-left-radius: 0px;
            }

            &:not(:first-of-type) {
                border-top-left-radius: 6px;
            }

            &:not(:last-of-type) {
                border-bottom-left-radius: 6px;
            }
        }
    }
}

.bubble-form {
    position: absolute;
    width: 11px;
    height: 20px;
    bottom: 3px;

    &.self {
        right: 0;
    }

    &:not(.self) {
        left: 0;
        transform: scaleX(-1);
    }

    .bubble-fill {
        &.self {
            fill: $bubbleBackground-outgoing;
        }

        &:not(.self) {
            fill: $bubbleBackground-incoming;
        }
    }
}

#send-bar {
    max-width: calc(796px - 36px);
    width: 85%;

    margin-bottom: 18px;

    .row {
        align-items: stretch;
    }

    .field {
        background-color: $background;
        position: relative;
        border-radius: 12px;
        border-bottom-right-radius: 0;
        border: none;
        margin-right: 12px;
        padding-right: 12px;

        &:focus-within {
            border-color: unset;
            color: $grayText;

            input {
                color: $text;
            }
        }

        .bubble-form {
            left: unset;
            right: 0;
            transform: none;
        }
    }

    .button {
        tg-icon {
            font-size: 1.2em;
        }
    }
}

tg-loading ~ * {
    display: none;
}

#peer-info {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 6px 12px;

    background-color: $background;
    z-index: 1;

    border-bottom: 1px solid $grayTransparent;
}
