#chat-container {
  margin: 6px auto;
  margin-top: 0;
  max-width: 796px;
  width: 85%;
  overflow-y: auto;
  max-height: 100%;
  padding: 0 48px;
}

.bubble-group {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bubble-group .profile-picture {
  padding: 0;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  position: absolute;
  bottom: 0;
  left: -33px;
  margin-left: -6px;
  margin-bottom: 6px;
}

.bubble-group .bubble {
  min-width: 18px;
  max-width: 450px;
  min-height: 27px;
  padding-top: 9px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 35, 47, 0.15);
          box-shadow: 0px 1px 2px 0px rgba(16, 35, 47, 0.15);
}

.bubble-group .bubble .info {
  float: right;
}

.bubble-group .bubble .info .typography {
  font-size: 0.7em;
}

.bubble-group.self {
  padding-right: 11px;
}

.bubble-group.self .bubble {
  background-color: #eeffde;
  color: #effaff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.bubble-group.self .bubble .message.typography::after {
  content: '        ';
}

.bubble-group.self .bubble .info * {
  color: #4daa4c;
}

.bubble-group.self .bubble:first-of-type {
  border-top-right-radius: 12px;
}

.bubble-group.self .bubble:last-of-type {
  border-bottom-right-radius: 0px;
}

.bubble-group.self .bubble:not(:first-of-type) {
  border-top-right-radius: 6px;
}

.bubble-group.self .bubble:not(:last-of-type) {
  border-bottom-right-radius: 6px;
}

.bubble-group:not(.self) {
  padding-left: 11px;
}

.bubble-group:not(.self) .bubble {
  background-color: #f4f4f4;
  color: #999999;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.bubble-group:not(.self) .bubble .message.typography::after {
  content: '     ';
}

.bubble-group:not(.self) .bubble .info * {
  color: #999999;
}

.bubble-group:not(.self) .bubble:first-of-type {
  border-top-left-radius: 12px;
}

.bubble-group:not(.self) .bubble:last-of-type {
  border-bottom-left-radius: 0px;
}

.bubble-group:not(.self) .bubble:not(:first-of-type) {
  border-top-left-radius: 6px;
}

.bubble-group:not(.self) .bubble:not(:last-of-type) {
  border-bottom-left-radius: 6px;
}

.bubble-form {
  position: absolute;
  width: 11px;
  height: 20px;
  bottom: 3px;
}

.bubble-form.self {
  right: 0;
}

.bubble-form:not(.self) {
  left: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.bubble-form .bubble-fill.self {
  fill: #eeffde;
}

.bubble-form .bubble-fill:not(.self) {
  fill: #f4f4f4;
}

#send-bar {
  max-width: calc(796px - 36px);
  width: 85%;
  margin-bottom: 18px;
}

#send-bar .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#send-bar .field {
  background-color: #ffffff;
  position: relative;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border: none;
  margin-right: 12px;
  padding-right: 12px;
}

#send-bar .field:focus-within {
  border-color: unset;
  color: #707579;
}

#send-bar .field:focus-within input {
  color: #000000;
}

#send-bar .field .bubble-form {
  left: unset;
  right: 0;
  -webkit-transform: none;
          transform: none;
}

#send-bar .button tg-icon {
  font-size: 1.2em;
}

tg-loading ~ * {
  display: none;
}

#peer-info {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 6px 12px;
  background-color: #ffffff;
  z-index: 1;
  border-bottom: 1px solid rgba(112, 117, 121, 0.2);
}
/*# sourceMappingURL=messages.css.map */