@import '../base/vars/colors';

$input-padding: 18px;
$border-radius: 9px;

.field {
    flex-grow: 1;
    background-color: $grayBackground;
    border-radius: 100rem;
    transition: border-color 200ms ease;
    color: $grayText;
    display: flex;
    flex-direction: row;
    border: 1px solid $grayBackground;
    align-items: center;
    padding-left: 12px;

    tg-icon {
        font-size: 1.2rem;
    }

    input {
        padding: 12px;
        padding-left: 6px;
        font-size: 0.94518rem;
        line-height: 1.13422rem;
        margin: 0;
        max-width: 100%;
        box-shadow: none;
        outline: none;
        flex: 1 0 auto;
        background-color: transparent;
        border: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        caret-color: $accent;
    }

    &:focus-within {
        border-color: $accent;
        color: $accent;
        background-color: $background;
    }
}

.input {
    position: relative;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 100%;

    &,
    * {
        box-sizing: border-box;
    }

    tg-icon {
        position: absolute;
        right: 2/3 * $input-padding + 1px;
        top: 50%;
        transform: translateY(-50%);
        color: $listGrayText;
        font-size: 1.3em;
    }

    input {
        font-size: 0.94518rem;
        line-height: 1.13422rem;
        margin: 0;
        max-width: 100%;
        box-shadow: none;
        outline: none;
        flex: 1 0 auto;
        background: transparent;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: 1px solid $grayText;
        color: $text;
        border-radius: $border-radius;
        padding: $input-padding;
        transition: border-color 200ms ease, box-shadow 200ms ease;

        &:hover {
            border-color: $text;
        }

        &:focus,
        &:active {
            caret-color: $accent;
            box-shadow: 0 0 0 1px $accent;
            border-color: $accent;
        }

        + label {
            font-size: 1em;
            display: inline;
            position: absolute;
            left: $input-padding + 1px;
            top: 50%;
            transition: all 200ms ease;
            transform: translateY(-50%);
            color: $grayText;
            cursor: text;
            pointer-events: none;
        }

        &:not(:placeholder-shown) ~ label {
            font-size: 0.7em;
            font-weight: 500;
            left: 2/3 * $input-padding + 2px;
            padding: 0 4px;
            top: 2px;
            background-color: white;
            color: $grayText;
        }

        &:focus:not(:placeholder-shown) ~ label {
            color: $accent;
        }

        &:hover:not(:active):not(:focus):not(:placeholder-shown):not(.wrong) ~ label {
            color: $text;
        }

        &::placeholder {
            opacity: 0;
        }

        &.wrong {
            border-color: $redUI;
            box-shadow: 0 0 0 1px $redUI;
            caret-color: $redUI;

            &:not(:placeholder-shown) ~ label {
                color: $redUI;
            }
        }
    }
}

.select {
    width: 100%;
    position: relative;

    input:focus ~ tg-icon,
    input:active ~ tg-icon {
        color: $accent;
    }

    .options-list {
        position: absolute;
        z-index: 1;
        background-color: $background;
        top: calc(3rem + 12px);
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        border-radius: 12px; //TODO: use variables
        margin-top: $input-padding / 2;
        box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.15), 0 3px 15px 2px rgba(0, 0, 0, 0.05);

        &.hidden {
            display: none;
        }

        .country.option {
            display: flex;
            width: 100%;
            top: 2em;
            flex-direction: row;
            align-items: center;
            padding: $input-padding;
            justify-content: flex-start;
            cursor: pointer;

            &.hidden {
                display: none;
            }

            &.selected {
                background-color: $grayTransparent;
            }

            .flag {
                font-size: 1.5em;
                margin-right: 1.5rem;
            }

            .name {
                color: $text;
            }

            .code {
                color: $grayText;
                flex-grow: 1;
                text-align: right;
            }
        }
    }
}
