.field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #f4f4f4;
  border-radius: 100rem;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #707579;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #f4f4f4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
}

.field tg-icon {
  font-size: 1.2rem;
}

.field input {
  padding: 12px;
  padding-left: 6px;
  font-size: 0.94518rem;
  line-height: 1.13422rem;
  margin: 0;
  max-width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  caret-color: #53a6f3;
}

.field:focus-within {
  border-color: #53a6f3;
  color: #53a6f3;
  background-color: #ffffff;
}

.input {
  position: relative;
  font-weight: normal;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.input,
.input * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input tg-icon {
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #6d6d71;
  font-size: 1.3em;
}

.input input {
  font-size: 0.94518rem;
  line-height: 1.13422rem;
  margin: 0;
  max-width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: 1px solid #707579;
  color: #000000;
  border-radius: 9px;
  padding: 18px;
  -webkit-transition: border-color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: border-color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: border-color 200ms ease, box-shadow 200ms ease;
  transition: border-color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.input input:hover {
  border-color: #000000;
}

.input input:focus, .input input:active {
  caret-color: #53a6f3;
  -webkit-box-shadow: 0 0 0 1px #53a6f3;
          box-shadow: 0 0 0 1px #53a6f3;
  border-color: #53a6f3;
}

.input input + label {
  font-size: 1em;
  display: inline;
  position: absolute;
  left: 19px;
  top: 50%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #707579;
  cursor: text;
  pointer-events: none;
}

.input input:not(:placeholder-shown) ~ label {
  font-size: 0.7em;
  font-weight: 500;
  left: 14px;
  padding: 0 4px;
  top: 2px;
  background-color: white;
  color: #707579;
}

.input input:focus:not(:placeholder-shown) ~ label {
  color: #53a6f3;
}

.input input:hover:not(:active):not(:focus):not(:placeholder-shown):not(.wrong) ~ label {
  color: #000000;
}

.input input::-webkit-input-placeholder {
  opacity: 0;
}

.input input:-ms-input-placeholder {
  opacity: 0;
}

.input input::-ms-input-placeholder {
  opacity: 0;
}

.input input::placeholder {
  opacity: 0;
}

.input input.wrong {
  border-color: #ff3b30;
  -webkit-box-shadow: 0 0 0 1px #ff3b30;
          box-shadow: 0 0 0 1px #ff3b30;
  caret-color: #ff3b30;
}

.input input.wrong:not(:placeholder-shown) ~ label {
  color: #ff3b30;
}

.select {
  width: 100%;
  position: relative;
}

.select input:focus ~ tg-icon,
.select input:active ~ tg-icon {
  color: #53a6f3;
}

.select .options-list {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  top: calc(3rem + 12px);
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  margin-top: 9px;
  -webkit-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.15), 0 3px 15px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.15), 0 3px 15px 2px rgba(0, 0, 0, 0.05);
}

.select .options-list.hidden {
  display: none;
}

.select .options-list .country.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.select .options-list .country.option.hidden {
  display: none;
}

.select .options-list .country.option.selected {
  background-color: rgba(112, 117, 121, 0.2);
}

.select .options-list .country.option .flag {
  font-size: 1.5em;
  margin-right: 1.5rem;
}

.select .options-list .country.option .name {
  color: #000000;
}

.select .options-list .country.option .code {
  color: #707579;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
/*# sourceMappingURL=input.css.map */