@import '../../base/vars/colors';

$colors: (
    (red, $peerAvatarRedTop, $peerAvatarRedBottom),
    (orange, $peerAvatarOrangeTop, $peerAvatarOrangeBottom),
    (violet, $peerAvatarVioletTop, $peerAvatarVioletBottom),
    (green, $peerAvatarGreenTop, $peerAvatarGreenBottom),
    (cyan, $peerAvatarCyanTop, $peerAvatarCyanBottom),
    (blue, $peerAvatarBlueTop, $peerAvatarBlueBottom),
    (pink, $peerAvatarPinkTop, $peerAvatarPinkBottom)
);

.profile.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 6px;
    text-align: center;

    &.accent {
        background-color: $accent;

        tg-icon {
            font-size: 50px;
            line-height: 50px;
            color: $background;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.none {
        display: flex;
        justify-content: center;
        align-items: center;

        @each $name, $top, $bottom in $colors {
            &.#{$name} {
                background: linear-gradient($top, $bottom);
            }
        }
    }
}
