.profile.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 6px;
  text-align: center;
}

.profile.image.accent {
  background-color: #53a6f3;
}

.profile.image.accent tg-icon {
  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile.image.none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile.image.none.red {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff885e), to(#ff516a));
  background: linear-gradient(#ff885e, #ff516a);
}

.profile.image.none.orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcd6a), to(#ffa85c));
  background: linear-gradient(#ffcd6a, #ffa85c);
}

.profile.image.none.violet {
  background: -webkit-gradient(linear, left top, left bottom, from(#82b1ff), to(#665fff));
  background: linear-gradient(#82b1ff, #665fff);
}

.profile.image.none.green {
  background: -webkit-gradient(linear, left top, left bottom, from(#a0de7e), to(#54cb68));
  background: linear-gradient(#a0de7e, #54cb68);
}

.profile.image.none.cyan {
  background: -webkit-gradient(linear, left top, left bottom, from(#53edd6), to(#28c9b7));
  background: linear-gradient(#53edd6, #28c9b7);
}

.profile.image.none.blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#72d5fd), to(#2a9ef1));
  background: linear-gradient(#72d5fd, #2a9ef1);
}

.profile.image.none.pink {
  background: -webkit-gradient(linear, left top, left bottom, from(#e0a2f3), to(#d669ed));
  background: linear-gradient(#e0a2f3, #d669ed);
}
/*# sourceMappingURL=profile-image.css.map */