@media only screen and (max-width: 600px) {
  .caption.typography {
    font-size: 0.75614rem;
    line-height: 0.90737rem;
  }
}

@media only screen and (max-width: 600px) {
  .body2.typography {
    font-size: 0.86957rem;
    line-height: 1.3913rem;
  }
}

@media only screen and (max-width: 600px) {
  .body.typography {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media only screen and (max-width: 600px) {
  .h6.typography {
    font-size: 1rem;
    line-height: 1.333rem;
  }
}

@media only screen and (max-width: 600px) {
  .button-content.typography {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .h5.typography {
    font-size: 1.15rem;
    line-height: 1.53295rem;
  }
}

@media only screen and (max-width: 600px) {
  .h4.typography {
    font-size: 1.3225rem;
    line-height: 1.54865rem;
  }
}

@media only screen and (max-width: 600px) {
  .h3.typography {
    font-size: 1.52087rem;
    line-height: 1.74901rem;
  }
}

@media only screen and (max-width: 600px) {
  .h2.typography {
    font-size: 1.74901rem;
    line-height: 1.92391rem;
  }
}

@media only screen and (max-width: 600px) {
  .h1.typography {
    font-size: 2.01136rem;
    line-height: 2.11193rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .caption.typography {
    font-size: 0.85066rem;
    line-height: 1.02079rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .body2.typography {
    font-size: 0.97826rem;
    line-height: 1.56522rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .body.typography {
    font-size: 1.125rem;
    line-height: 1.575rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .h6.typography {
    font-size: 1.125rem;
    line-height: 1.49962rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .button-content.typography {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .h5.typography {
    font-size: 1.29375rem;
    line-height: 1.72457rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .h4.typography {
    font-size: 1.48781rem;
    line-height: 1.74223rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .h3.typography {
    font-size: 1.71098rem;
    line-height: 1.96763rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .h2.typography {
    font-size: 1.96763rem;
    line-height: 2.1644rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .h1.typography {
    font-size: 2.26278rem;
    line-height: 2.37592rem;
  }
}

@media only screen and (min-width: 901px) {
  .caption.typography {
    font-size: 0.94518rem;
    line-height: 1.13422rem;
  }
}

@media only screen and (min-width: 901px) {
  .body2.typography {
    font-size: 1.08696rem;
    line-height: 1.73913rem;
  }
}

@media only screen and (min-width: 901px) {
  .body.typography {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media only screen and (min-width: 901px) {
  .h6.typography {
    font-size: 1.25rem;
    line-height: 1.66625rem;
  }
}

@media only screen and (min-width: 901px) {
  .button-content.typography {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

@media only screen and (min-width: 901px) {
  .h5.typography {
    font-size: 1.4375rem;
    line-height: 1.91619rem;
  }
}

@media only screen and (min-width: 901px) {
  .h4.typography {
    font-size: 1.65312rem;
    line-height: 1.93581rem;
  }
}

@media only screen and (min-width: 901px) {
  .h3.typography {
    font-size: 1.90109rem;
    line-height: 2.18626rem;
  }
}

@media only screen and (min-width: 901px) {
  .h2.typography {
    font-size: 2.18626rem;
    line-height: 2.40488rem;
  }
}

@media only screen and (min-width: 901px) {
  .h1.typography {
    font-size: 2.5142rem;
    line-height: 2.63991rem;
  }
}

.typography {
  display: inline;
  font-weight: normal;
  font-family: 'Roboto';
  color: #000000;
}

.typography.ltr {
  direction: ltr;
}

.typography.rtl {
  direction: rtl;
}

.typography.gray, .typography.grey {
  color: #707579;
}

.typography.white {
  color: #fff;
}

.typography.red {
  color: #ff3b30;
}

.typography.accent {
  color: #53a6f3;
}

.typography.normal {
  font-weight: normal;
}

.typography.medium {
  font-weight: 500;
}

.typography.bold {
  font-weight: bold;
}

.typography.block {
  display: block;
}

.typography.text-left {
  text-align: left;
}

.typography.text-right {
  text-align: right;
}

.typography.text-center {
  text-align: center;
}

.typography.text-justify {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*# sourceMappingURL=typography.css.map */