@import '../base/utils/math';
@import '../base/utils/mixin';
@import '../base/vars/device';
@import '../base/vars/typography';
@import '../base/vars/colors';

@each $deviceName in map-keys($devices) {
    $device: map-get($devices, $deviceName);
    $deviceFactor: map-get($deviceFactors, $deviceName);

    @for $index from 1 through length($textComponents) {
        $indexFactor: power($scaleFactor, $index - 3);
        $componentList: nth($textComponents, $index);

        @each $componentType in map-keys($componentList) {
            $component: map-get($componentList, $componentType);

            $componentFontWeight: map-get($component, fontWeight);
            $componentLineHeightFactor: map-get($component, lineHeightFactor);

            @include mediaQuery($device) {
                .#{$componentType}.typography {
                    font-size: #{$baseFontSize * $deviceFactor * $indexFactor}rem;
                    line-height: #{$baseFontSize * $deviceFactor * $indexFactor * $componentLineHeightFactor}rem;
                }
            }
        }
    }
}

.typography {
    display: inline;
    font-weight: normal;
    font-family: 'Roboto';
    color: $text;
    // text directions
    $segmentTextDirections: (ltr, rtl);

    @each $direction in $segmentTextDirections {
        &.#{$direction} {
            direction: $direction;
        }
    }

    &.gray,
    &.grey {
        color: $grayText;
    }

    &.white {
        color: #fff;
    }

    &.red {
        color: $redUI;
    }

    &.accent {
        color: $accent;
    }

    &.normal {
        font-weight: normal;
    }

    &.medium {
        font-weight: 500;
    }

    &.bold {
        font-weight: bold;
    }

    &.block {
        display: block;
    }

    &.text-left {
        text-align: left;
    }

    &.text-right {
        text-align: right;
    }

    &.text-center {
        text-align: center;
    }

    &.text-justify {
        text-align: justify;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
