@import '../vars/device';

@mixin mediaQuery($device) {
    $minWidth: map-get($device, minWidth);
    $maxWidth: map-get($device, maxWidth);

    @if $minWidth != null and $maxWidth != null {
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
            @content;
        }
    } @else if $minWidth != null {
        @media only screen and (min-width: $minWidth) {
            @content;
        }
    } @else {
        @media only screen and (max-width: $maxWidth) {
            @content;
        }
    }
}
