div.tg-checkbox-wrapper {
  position: relative;
  width: 18px;
  height: 18px;
  border: 0px solid;
  border-radius: 3px;
  background: gray;
}

div.tg-checkbox-wrapper input.tg-checkbox {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 50;
}

div.tg-checkbox-wrapper input.tg-checkbox + tg-icon {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  top: -6px;
  left: -3px;
  z-index: 25;
}

div.tg-checkbox-wrapper input.tg-checkbox ~ .tg-checkbox-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #53a6f3;
  border: 0 solid;
  border-radius: 3px;
  top: 0;
  left: 0;
}

div.tg-checkbox-wrapper input.tg-checkbox:checked + tg-icon {
  visibility: visible;
}

div.tg-checkbox-wrapper input.tg-checkbox:checked ~ .tg-checkbox-background {
  visibility: visible;
}

div.tg-checkbox-wrapper input.tg-checkbox:not(:checked) + tg-icon {
  visibility: hidden;
}

div.tg-checkbox-wrapper input.tg-checkbox:not(:checked) ~ .tg-checkbox-background {
  visibility: hidden;
}
/*# sourceMappingURL=checkbox.css.map */