@import '../base/vars/colors';

div.tg-checkbox-wrapper {
    position: relative;
    width: 18px;
    height: 18px;
    border: 0px solid;
    border-radius: 3px;
    background: gray;

    input.tg-checkbox {
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        opacity: 0;
        z-index: 50;

        + tg-icon {
            width: 100%;
            height: 100%;
            color: $background;
            font-size: 1.5em;
            position: absolute;
            top: -6px;
            left: -3px;
            z-index: 25;
        }

        ~ .tg-checkbox-background {
            width: 100%;
            height: 100%;
            position: absolute;
            background: $accentIcon;
            border: 0 solid;
            border-radius: 3px;
            top: 0;
            left: 0;
        }

        &:checked {
            + tg-icon {
                visibility: visible;
            }

            ~ .tg-checkbox-background {
                visibility: visible;
            }
        }

        &:not(:checked) {
            + tg-icon {
                visibility: hidden;
            }
            ~ .tg-checkbox-background {
                visibility: hidden;
            }
        }
    }
}
